 table .alto {
	background-color:red;
}
 
table .medio {
	background-color:green;
}
 
table .bajo {
	background-color:blue;
}
#color1{color:teal;}
#color2{color:red;}
#color3{color:blue;}
#color4{color:orange;}
#color5{color:purple;}
#color6{color:olive;}
#color7{color:fuchsia;}
#color8{color:green;}

        
       