.grafico{
  list-style-type:none;
}
.circulos{
  list-style-type:circle;
}
.cuadrados{
  list-style-type:square;
}
.romanos_upper{
  list-style-type:upper-roman;
}
.lower-greek{
  list-style-type:lower-greek;
}